APP_SECRET=
JWT_EXPIRY_DAYS=
JWT_EXPIRY_WINDOW=

FRONTEND_APP=

MDB_URI=
DB_URI=
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

AWS_REGION=
AWS_KEY_ID=
AWS_KEY_SECRET=

DEFAULT_SENDER=
SENDGRID_API_KEY=

BTC_ONCHAIN_NODE_ENDPOINT=
BTC_ONCHAIN_NODE_USERNAME=
BTC_ONCHAIN_NODE_PASSWORD=

BTC_LIGHTNING_NODE_ENDPOINT=
BTC_LIGHTNING_NODE_MACAROON=

LAMBDA_FUNCTION_NAME=
LAMBDA_FUNCTION_URL=

TOKENIZE_KEY=
TOKENIZE_ENDPOINT=

AIRTABLE_KEY=