bitcoinlib==0.7.1
boto3==1.28.22
Flask==2.3.2
Flask-Cors==4.0.0
Flask-Mail==0.9.1
Flask-Mail-SendGrid==0.6
flask-redis==0.4.0
flasgger==0.9.7.1
PyJWT==2.8.0
pymongo==4.4.1
python-dotenv==1.0.0
requests==2.31.0
sendgrid==6.10.0
webargs==8.3.0